.cardeditPgae {
  .cardeditForm {
    background-color: rgb(230, 164, 23);
    max-width: 500px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow:5px 5px 10px rgb(252, 123, 18);
    &_title, &_memo {
      margin-bottom: 30px;
    }
  }
}