#calendar {
  height: 1000px;
  margin: 100px;
  .fc-row, .fc-week, .fc-widget-content {
    margin: 10px;
  }
  .fc-day {
    
  }
  .fc-right .fc-prev-button, .fc-right .fc-next-button {
    background-color: #026aa7;
    color: white;
    font-weight: bold;
    background-image: none;
    border: none;
   }
  .fc-sun {
    background-color: #eeaeae;
   }
   .fc-sat {
     background-color: rgb(149, 243, 243);
   }
}